<div class="cookie__container">
    <div class="cookie__content">
        <h2 class="cookie-title">안녕하세요! DRUNKEN HIGH 입니다</h2>
        <p class="cookie-ask">만 19세 이상이신가요?</p>
        <label for="yes">Yes</label>
        <input type="radio" name="adult" id="yes" value="yes" required>
        <label for="no">No</label>
        <input type="radio" name="adult" id="no" value="no">
        <p class="cookie-msg"></p>
    </div>
</div>