<div id="footer">
    <footer>
        <p class="copyright">&;copy;
            <span class="this-year"></span>
            DRUNKENHIGH
        </p>
        <a href="https://www.flaticon.com/kr/free-icons/" title=" 아이콘"> 아이콘 제작자: Vitaly Gorbachev - Flaticon</a>
    </footer>
</div>