<div id="footer">
    <footer>
        <p class="copyright">&copy;
            <span class="this-year"></span>
            DRUNKEN HIGH
        </p>
        <div class="icon-reference">
            아이콘 출처
            <div class="hidden-div">
                <ul>
                    <li>
                        <a href="https://www.flaticon.com/kr/free-icon/easter-bunny_772345?term=rabbit&related_id=772345" title=" 아이콘">토끼 아이콘 제작자: Vitaly Gorbachev - Flaticon</a>
                    </li>
                    <li>
                        <a href="https://www.flaticon.com/free-icons/whiskey" title="whiskey icons">Whiskey icons created by Freepik - Flaticon</a>
                    </li>
                    <li>
                        <a href="https://www.flaticon.com/free-icons/soju" title="soju icons">Soju icons created by Freepik - Flaticon</a>
                    </li>
                    <li>
                        <a href="https://www.flaticon.com/free-icons/sake" title="Sake icons">Sake icons created by Freepik - Flaticon</a>
                    </li>
                    <li>
                        <a href="https://www.flaticon.com/free-icons/alcohol" title="alcohol icons">Alcohol icons created by Skyclick - Flaticon</a>
                    </li>
                    <li>
                        <a href="https://www.flaticon.com/free-icons/vodka" title="vodka icons">Vodka icons created by Freepik - Flaticon</a>
                    </li>
                    <li>
                        <a href="https://www.flaticon.com/free-icons/wine" title="wine icons">Wine icons created by Freepik - Flaticon</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>