<div id="header">
    <header>
        <h1 class="header__title">
            <a href="/">
                <figure>
                    <img class="title__img" src="/public/img/rabbit-icon.png" alt="로고">
                </figure>
                <div class="title__textbox">
                    <svg class="title__text" version="1.1" xmlns="http://www.w3.org/2000/svg" 
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="180 30 375 120" 
                    enable-background="new 180 30 375 120" xml:space="preserve">
                        <defs>
                            <pattern id="water" width=".25" height="1.1" patternContentUnits="objectBoundingBox">
                                <path fill="#F29B30" d="M0.25,1H0c0,0,0-0.659,0-0.916c0.083-0.303,0.158,0.334,0.25,0C0.25,0.327,0.25,1,0.25,1z"/>
                            </pattern>
                            <text id="text" transform="matrix(1 0 0 1 -8.0684 116.7852)">DRUNKEN HIGH</text>
                            <mask id="text_mask">
                                <use x="0" y="0" xlink:href="#text" opacity="1" fill="#EEE4A8" />
                            </mask>
                        </defs>
                        <use x="0" y="0" xlink:href="#text" fill="#EEE4A8" />
                        <rect class="water-fill" mask="url(#text_mask)" fill="url(#water)" x="-400" y="0" width="1600" height="60"/>
                    </svg>
                </div>
            </a>
        </h1>
        <nav class="header__nav">
            <ul>
                    <li><a href="/write" title="레시피 작성하기"><span class="fa-solid fa-pen-to-square"></span></a></li>
                    <li><a href="/users/user" title="마이페이지"><span class="fa-solid fa-user"></span></a></li>
                    <li><a href="/users/logout" title="로그아웃">로그아웃<span class="fa-solid fa-arrow-right-from-bracket"></span></a></li>
                    <li><a href="/users/login" title="로그인">로그인<span class="fa-solid fa-arrow-right-to-bracket"></span></a></li>
            </ul>
        </nav>
    </header>
</div>