<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('include/include', { title : 'DRUNKEN HIGH | 회원가입' }) %>
    <link rel="stylesheet" href="/public/css/register.css">
</head>
<body>
    
    <main>
        <section class="register__container">
            <h2 class="register__title">회원가입</h2>
            <form id="register" name="register" enctype="multipart/form-data">
                <div class="register-inputbx">
                    <label for="user_id">아이디<span>(필수)</span></label>
                    <input 
                    type="text" 
                    name="user_id" 
                    id="user_id" 
                    placeholder="영문자로 시작하는 6~20글자의 영문 소문자/숫자 조합"
                    minlength="6"
                    maxlength="20"
                    required>
                    <div class="register-msg"></div>
                </div>
                <div class="register-inputbx">
                    <label for="user_pw">비밀번호<span>(필수)</span></label>
                    <input 
                    type="password" 
                    name="user_pw" 
                    id="user_pw"  
                    placeholder="8~16자의 영문 대/소문자, 숫자, 특수문자"
                    minlength="8"
                    maxlength="16"
                    required>
                    <div class="register-msg"></div>
                </div>
                <div class="register-inputbx">
                    <label for="user_name">닉네임<span>(필수)</span></label>
                    <input 
                    type="text" 
                    name="user_name" 
                    id="user_name"
                    placeholder="닉네임"
                    required>
                    <div class="register-msg"></div>
                </div>
                <div class="register-inputbx">
                    <label for="birthday">생년월일<span>(필수)</span></label>
                    <input type="text" name="birthday" id="birthday" required placeholder="생년월일 8자리 (ex. 20000101)" minlength="8" maxlength="8">
                    <div class="register-msg"></div>
                </div>
                <div class="register__filebx">
                    <span>프로필 사진<b>(선택)</b></span>
                    <span>프로필 사진은 아이디 입력 후에 업로드 가능합니다.</span>
                    <div class="filebx-img">
                        <figure>
                            <img src="/public/img/user.jpg" alt="프로필사진">
                        </figure>
                        <label for="profile_img">프로필 사진 올리기</label>
                        <span>5MB 이하의 .jpeg, .jpg, .png 파일만 올려주세요</span>
                    </div>
                    <input type="file" name="profile_img" id="profile_img" value="1" accept="image/jpg, image/jpeg, image/png" disabled>
                </div>
                <button type="button" class="register__btn" onclick="axiosPost() ">가입하기</button>
            </form>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %>
    <script src="/public/js/register.js"></script>

    <script>
        function axiosPost() {
            console.log('axiosPost');
            const form = document.forms['register']
        
            axios({
                method: 'POST',
                url:'/users/register',
                data: {
                user_id:  form.user_id.value,
                user_pw:  form.user_pw.value,
                user_name:  form.user_name.value,
                profile_img:  form.profile_img.value,
                birth_day:  form.birthday.value,
            },
            }).then((res)=>{ 
                console.log(res.data);
            }).catch((err) => {
                console.error(err);
                // 오류 처리
            });
        }
    </script>

  
</body>
</html>
