<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
     <!-- Axios CDN -->
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

    <main>
      
            <form id="login" name="login">
                
                   <input type="text" name="user_id" id="user_id"> 아읻티
                <br>
                <input type="password" name="user_pw" id="user_pw"> 비밀번호
        
                <button type="button" class="login" onclick="axiosPost()">로그인</button>
            </form>
       
    </main>
  

    <script>
        function axiosPost() {
            console.log('axiosPost');
            const form = document.forms['login']
        
            axios({
                method: 'POST',
                url:'/users/login',
                data: {
                user_id:  form.user_id.value,
                user_pw:  form.user_pw.value,
            },
            }).then((res)=>{ 
                console.log('res.data', res.data);
            }).catch((err) => {
                console.error(err);
                // 오류 처리
            });
        }
    </script>
</body>
</html>
