<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>레시피 작성/수정 페이지 </h1>
    제목 <input type="text" name="title" id="" disabled>
    작성자 <input type="text" name="title" id="" disabled>
    작성시간  <input type="text" name="title" id="" disabled>
    필요재료 <input type="text" name="" id="">
    만드는 방법 <textarea name="" id=""></textarea>
    
</body>
</html>