/* ν—¤λ” */
#header {
    box-shadow: 0 2px 3px var(--mainColor);
    width: 100%;
}

#header header {
    position: relative;
    max-width: var(--mainWidth);
}

.header__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.header__nav {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

.header__nav ul {
    display: flex;
    gap: 10px;
}

.header__title .title__text {
    
}

.water-fill {
    animation: wave 0.7s infinite linear, 
               fill-up 10s infinite ease-out alternate;
  }


@keyframes wave {
    0% { x: -400px; }
    100% { x: 0; }
}


@keyframes fill-up {
    0% {
        height: 0;
        y: 130px;
    }
    100% {
        height: 160px;
        y: -30px;
    }
}


/* ν‘Έν„° */
#footer {
    width: 100%;
    background-color: #333;
}

#footer footer {
    max-width: var(--mainWidth);
}