@import url(./common/reset.css);
@import url(./common/core.css);
@import url(./common/common.css);

.register__title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: var(--darkColor);
    margin-bottom: 40px;
    width: 100%;
    padding-top: 60px;
}

.register__container {
    margin: 0 auto;
    width: 50vw;
    padding: 30px 0 60px;
    font-family: 'Pretendard-Regular';
    display: none;
}

#register {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    width: 100%;
}

.register-inputbx {
    width: 100%;
}

.register-inputbx label, .register__filebx span {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
}

.register-inputbx label span, .register__filebx b {
    color : red;
    font-weight: bold;
}

.register-inputbx input{
    width: 100%;
    height: 36px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.register-inputbx input:focus {
    border-color: var(--darkColor);
}

.register-msg {
    color : green;
    height: 14px;
    text-align: left;
}

.register-msg.on {
    color : red;
}

.register__filebx {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

#profile_img::file-selector-button {
    display: none;
}

.filebx-img {
    display: flex;
    align-items: end;
    gap: 0 15px;
    margin-bottom: 20px;
}

.filebx-img label {
    padding : 10px 0;
    background-color: var(--darkColor);
    width: 120px;
    line-height: 15px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    color : #fff;
    font-weight: bold;
    font-size: 14px;
}

.filebx-img figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.filebx-img figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile_img {
    border : 1px solid #ccc;
    border-radius: 5px;
    height: 36px;
    line-height: 36px;
    color : #888;
    padding-left: 10px;
}

.register__btn {
    padding: 0;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: var(--darkColor);
    color : #fff;
    padding-block: 0;
    padding-inline: 0;
    padding : 10px;
    box-sizing: border-box;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 14px;
}

.register__btn:hover {
    background-color: var(--darkColor);
    opacity: 0.8;
}

/* 약관동의박스 */
#conf {
    max-width: 700px;
    padding: 30px 15px;
    height: auto;
    border: 2px solid var(--mainColor);
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #fff;
    margin: 0 auto;
}

.terms_p {
    margin-bottom: 20px;
    border: solid 1px #dadada;
    background: #fff;
}

.terms_chk_all {
    display: block;
    padding: 15px;
}

.terms_bx:first-child {
    border-top: 1px solid #f0f0f0;
}

.terms_bx {
    display: block;
    padding: 13px 15px 7px;
}

.input_chk {
    position: relative;
    display: block;
    height: 24px;
}

.input_chk input {
    position: absolute;
    z-index: 9;
    top: 50%;
    right: 1px;
    width: 22px;
    height: 22px;
    margin-top: -11px;
    opacity: 0;
    outline: 0;
    -webkit-appearance: none;
}

.input_chk label {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 24px;
    cursor: pointer;
    color: #333;
    background: url(https://static.nid.naver.com/images/ui/join/m_ico_check_off_2x_20170904.png) 100% 50% no-repeat;
    -webkit-background-size: 24px 24px;
    background-size: 24px 24px;
}

.input_chk input:checked+label {
    background: url(https://static.nid.naver.com/images/ui/join/m_ico_check_on_2x_20170904.png) 100% 50% no-repeat;
    -webkit-background-size: 24px 24px;
    background-size: 24px 24px
}

.terms_necessary {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    vertical-align: top;
    color: red;
    font-weight: bold;
}

.terms_box {
    position: relative;
    overflow: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 88px;
    margin-top: 11px;
    padding: 8px 10px;
    border: 1px solid #f0f0f0;
    background: #f7f7f7;
}



/* 동의/비동의 버튼박스 */
.YNbox {
    text-align: center;
}
/* 버튼공통 */
.YNbox button {
    width: 113px;
    height: 40px;
    border: 1px solid var(--darkColor);
    background-color: var(--darkColor);
    color: #fff;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
    margin: 0 20px;
    cursor: pointer;
    transition: all .3s;
}

#btnY:hover, #btnN:hover {
    border-color: var(--mainColor);
    background-color: var(--mainColor);
}

#btnN {
    background-color: #fff;
    color : #333;
}

#btnN:hover {
    color : #fff;
}


/**** 미디어쿼리 ****/
/* 900 px 이하 미디어쿼리 */
@media screen and (max-width: 900px) {
    .register__container {
        width: 80%;
    }

    .filebx-img {
        flex-direction: column;
        align-items: start;
    }
}

/* 640 px 이하 미디어쿼리 */
@media screen and (max-width: 640px) {
    .register__container {
        width: 90%;
    }
}