@import url(./common/reset.css);
@import url(./common/core.css);
@import url(./common/common.css);

.register__container {
    margin: 0 auto;
    width: 50vw;
    padding: 60px 0;
    font-family: 'Pretendard-Regular';

}

.register__title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    color: var(--darkColor);
    margin-bottom: 40px;
    width: 100%;
}

#register {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    width: 100%;
}

.register-inputbx {
    width: 100%;
}

.register-inputbx label, .register__filebx span {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
}

.register-inputbx label span, .register__filebx b {
    color : red;
    font-weight: bold;
}

.register-inputbx input{
    width: 100%;
    height: 36px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

.register-inputbx input:focus {
    border-color: var(--darkColor);
}

.register-msg {
    color : green;
    height: 14px;
    text-align: left;
}

.register-msg.on {
    color : red;
}

.register__filebx {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

#profile_img::file-selector-button {
    display: none;
}

.filebx-img {
    display: flex;
    align-items: end;
    gap: 0 15px;
    margin-bottom: 20px;
}

.filebx-img label {
    padding : 10px 0;
    background-color: var(--darkColor);
    width: 120px;
    line-height: 15px;
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    color : #fff;
    font-weight: bold;
    font-size: 14px;
}

.filebx-img figure {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.filebx-img figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#profile_img {
    border : 1px solid #ccc;
    border-radius: 5px;
    height: 36px;
    line-height: 36px;
    color : #888;
    padding-left: 10px;
}

.register__btn {
    padding: 0;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: var(--darkColor);
    color : #fff;
    padding-block: 0;
    padding-inline: 0;
    padding : 10px;
    box-sizing: border-box;
    font-weight: bold;
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    font-size: 14px;
}

.register__btn:hover {
    background-color: var(--darkColor);
    opacity: 0.8;
}
